@import url('https://fonts.googleapis.com/css?family=Roboto');
/**
    Estilo propio para SIGC
*/

html {
    height: 100%;
    width: 100%;
    min-width: 990px;
}

body {
    margin: 0;
    height: 100%;
    color: #333333;
    background-color: #fafafa;
}

.cabecera {
    background: #186ba0 !important;
    color: #fff !important;
    padding: 0 !important;
    border: 0 !important;
}

.cabecera .ui-widget-content{
    background: #186ba0 !important;
    color: #fff !important;
    position: relative !important;
    padding-top: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 10px !important;
}

.marca {
    margin: 0 !important;
    float: left;
}

.titulo {
    font-size: 1.4em !important;
    float: left;
}

.subtitulo {
    padding-top: 5px;
    font-size: 1em !important;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.info-usuario {
    position: absolute; 
    right: 20px;
}

.menu-izquierda {
    padding: 0 !important;
    border: 0 !important;
}

.menu-izquierda .ui-layout-unit-header{
    border-top: 1px solid #d6d6d6 !important;
    border-right: 1px solid #d6d6d6 !important;
    border-left: 1px solid #d6d6d6 !important;
    border-bottom: 0 !important;
}

.menu-izquierda .ui-layout-unit-content{
    padding: 0 !important;
    border-right: 1px solid #d6d6d6 !important;
}

.principal {
    position: relative;
    float: left;
    height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    display: block;
    overflow-y: auto;
    overflow-x: auto;
}

.principal-privado {
    width: -moz-calc(100% - 262px);
    width: -webkit-calc(100% - 262px);
    width: calc(100% - 262px);
}

.principal-publico {
    width: 100%;
}

.div-boton-sesion {
    float: left;
    margin-top: -2px;
}

.div-mensaje-web { 
    height: 100%;
    width: 100%;
}

.div-mensaje-web .texto {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    color: #6f6f6f;
}

.div-mensaje-web .texto .logo {
    text-align: center;
    font-size: 4em;
    width: 100%;
}